{% extends 'eapp/index.html' %} 
{% load static %}
 {% block title %}Home
 {%endblock title %} 
 {% block information %}
<div class='container my-5'>
    <h5> Welcome {{request.user}}</h5>
    <div class='row'>
       
       
        <div class='col-sm-3 border-end'>
            <ul class='list-unstyled'>
            <li class='d-grid'><a class='btn btn-primary' href="{% url 'profile' %}">Profile</a></li>
            <li class='d-grid'><a class='btn' href="{% url 'address' %}">Address</a></li>
        </div>  
    
        <div class='col-sm-6'>
            <form method="post" >
                {% csrf_token %} {% for fm in form %}
                {{fm.label_tag}}{{fm}}
                <div class="form-group">
        {% if fm.errors %}
                <div class="text-danger">
                    {% for error in fm.errors %} {{ error }} {% endfor %}
                </div>
                {% endif %}
                </div>
                {% endfor %}
                <br>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>

            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}

        </div>  
    </div>    
</div>   


{% endblock %}