{% extends 'eapp/index.html' %} 
{% load static %} 
{% block title %}
Category
{%endblock title %} 
{% block main-contant %}


<h2 class='text-center'> About Us</h2>
<br>
<div class='row container'>
    <p class='fs-4 text-center'>
        Communicate the story of your business and why you started it. Describe the customers or the cause that your business serves. Explain your business model or how your products are made. Put a face to your business, featuring the founders or the people on your team.
    </p>

    <p class='fs-4 text-center'>
        Tesla's mission is to accelerate the world's transition to renewable energy.” Starbucks“To inspire and nurture the human spirit- one person, one cup, and one neighborhood at a time.
    </p>
</div>
{% endblock %}
